{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

  <h3>
    {{ homes|default:"GhostPost👻Home" }}
  </h3>

<!--
  <a href={% url "home" %}>Home</a>  ||
  <a href={% url "votes" %}>Sort By Votes</a> ||
  <a href={% url "boast" %}>Boasts</a>  ||
  <a href={% url "roast" %}>Roasts</a>  ||
  <a href={% url "add_post" %}>Create Post</a>
 -->
  <hr />

  {% for post in posts %}

    <h5><strong>{{ votes }}</strong></h5>

      <p>
        {% if post.is_roast == True %}
          <p><strong>Boast</strong></p>
        {% else %}
          <p><strong>Roast</strong></p>
        {% endif %}

        <p>Post: {{ post.text }}</p>
        <button><a href="/likes/{{ post.id }}">↑ UPVOTE</a></button> || <button><a href="/dislikes/{{ post.id }}">↓ DOWNVOTE</a></button>
        {% comment %} 
          <p>{{ post.likes }}</p>
          <p>{{ post.dislikes }}</p> 
        {% endcomment %}
        <p>Votes: {{ post.vote_score }}</p>
        <p>Date: {{ post.created_at }}</p>
        <hr />
      </p>

  {% endfor %}

{% endblock %}