{% load bootstrap4 %}

<h1>
  {{ sort_vote|default:"GhostPost - Sort By Votes" }}
</h1>

<a href={% url "home" %}>Home</a>  ||
<a href={% url "votes" %}>Sort By Votes</a> ||
<a href={% url "boast" %}>Boasts</a>  ||
<a href={% url "roast" %}>Roasts</a>  ||
<a href={% url "add_post" %}>Create Post</a>

<hr />

{% for post in votes %}
  <p>
    {% if post.is_roast == True %}
      <p><strong>Boast</strong></p>
    {% else %}
      <p><strong>Roast</strong></p>
    {% endif %}

    <p>Post: {{ post.text }}</p>
    <a href="/likes/{{ post.id }}">UPVOTE</a> || <a href="/dislikes/{{ post.id }}">DOWNVOTE</a>
    <p>Votes: {{ post.vote_score }}</p>
    <p>Date: {{ post.created_at }}</p>
    <hr />  
  </p>

{% endfor %}
